<div class="control-group">
  <label for="username" class="control-label">username</label>
  <div class="controls">
    <%- contentTag('input', user.username, {type:'text', class:'span6', name:'username'}) %>
  </div>
</div>
<div class="control-group">
  <label for="password" class="control-label">password</label>
  <div class="controls">
    <%- contentTag('input', '', {type:'password', class:'span6', name:'password'}) %>
  </div>
</div>
<div class="control-group">
  <label for="confirmPpassword" class="control-label">confirm password</label>
  <div class="controls">
    <%- contentTag('input', '', {type:'password', class:'span6', name:'confirmPassword'}) %>
  </div>
</div>
<div class="control-group">
  <label for="name" class="control-label">name</label>
  <div class="controls">
    <%- contentTag('input', user.name, {type:'text', class:'span6', name:'name'}) %>
  </div>
</div>
<div class="control-group">
  <label for="email" class="control-label">email</label>
  <div class="controls">
    <%- contentTag('input', user.email, {type:'text', class:'span6', name:'email'}) %>
  </div>
</div>
<div class="control-group">
  <label for="language" class="control-label">language</label>
  <div class="controls">
    <%- contentTag('input', user.language, {type:'text', class:'span6', name:'language'}) %>
  </div>
</div>
<div class="control-group">
  <label for="avatar" class="control-label">avatar</label>
  <div class="controls">
    <%- contentTag('input', user.avatar, {type:'text', class:'span6', name:'avatar'}) %>
  </div>
</div>
